* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: gray;
  display: flex;
  justify-content: center;
  height: 100vh;
}
.designer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
}
.draw {
    justify-content: center;
    gap: 5px;
    display: flex;
}
h5{
    font-size: 20px;
}
.write{
    justify-content: center;
    gap: 5px;
    display: flex;
}


.controls{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
}
.buttons {
display: flex;
flex-direction: column;
gap: 10px;
}
.textInput{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.ip {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ip input{
    width: 40px;
}
#ipaddressInput{
    width: 130px;
}
.textSizeDiv{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.xyNumerics{
    display:flex;
    flex-direction: column;
}
.xyNumerics * {
    display: flex;
    justify-content: center;
}
.xyNumerics input{
    width: 40px;
}
button {
    padding: 2px;
}

p {
  font-size: 20px;
}
.commands{
    display:flex;
}
.arduino, .custom{
    border: 1px solid black;
    min-width: 300px;
    display: flex;
    flex-direction: column;
}
.flex{
    display: flex;
}
.customCode, .ssd1306Code{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-right: 10px;
height: 150px;
overflow-y: scroll;
}
.arduino h1, .custom h1{
    text-align: center;
}
.flex{
    display: flex;
    justify-content: center;
    gap: 50px;
}